<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Node Js, Express Js With EJS Template Engine</title>

    <!------------------------- CDN LINKS ------------------------->
    <!------------------------------------------------------------->
    <!-- bootstrap -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <!-- jquery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- font-awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"  rel="stylesheet" />
    
    <!-------------------- LOCAL ASSETS FILES --------------------->
    <!------------------------------------------------------------->
    <!-- css file -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <!-- jquery and js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
    <!-- font-awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style>
        li > a{
            color: whitesmoke !important;
            padding: 0px 20px !important;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <!-- include common navbar -->
    <%- include('navbar'); %>
    

